[package]
name = "linkup-cli"
version = "0.1.20"
edition = "2021"

[[bin]]
name = "linkup"
path = "src/main.rs"

[dependencies]
actix-web = "4.3.1"
clap = { version = "4.1.8", features = ["derive"] }
clap_complete = "4.4.0"
colored = "2"
ctrlc = { version = "3.0", features = ["termination"] }
daemonize = "0.5.0"
env_logger = "0.10.0"
futures = "0.3.28"
linkup = { path = "../linkup", features = ["actix", "reqwest"] }
log = "0.4.17"
nix = "0.26.2"
rand = "0.8.5"
regex = "1.7.1"
reqwest = { version = "0.11.14", default-features = false, features = [
    "blocking",
    "rustls-tls",
] }
serde = "1.0.156"
serde_json = "1.0.96"
serde_yaml = "0.9.19"
thiserror = "1.0.40"
tokio = "1.28.2"
tokio-util = "0.7.8"
url = { version = "2.3.1", features = ["serde"] }
