[package]
name = "linkup-cli"
version = "1.7.2"
edition = "2021"

[[bin]]
name = "linkup"
path = "src/main.rs"

[dependencies]
clap = { version = "4.5.27", features = ["derive", "cargo"] }
clap_complete = "4.5.42"
colored = "3.0.0"
ctrlc = { version = "3.4.5", features = ["termination"] }
hickory-resolver = { version = "0.24.2", features = ["tokio-runtime"] }
linkup = { path = "../linkup" }
linkup-local-server = { path = "../local-server" }
log = "0.4.25"
nix = { version = "0.29.0", features = ["signal"] }
rand = "0.8.5"
regex = "1.11.1"
reqwest = { version = "0.12.12", default-features = false, features = [
    "json",
    "multipart",
    "blocking",
    "rustls-tls",
    "json",
] }
serde = "1.0.217"
serde_json = "1.0.137"
serde_yaml = "0.9.34"
tokio = { version = "1.43.0", features = ["macros"] }
thiserror = "2.0.11"
url = { version = "2.5.4", features = ["serde"] }
base64 = "0.22.1"
env_logger = "0.11.6"
crossterm = "0.28.1"
sysinfo = "0.33.1"
sha2 = "0.10.8"
hex = "0.4.3"
tar = "0.4.43"
flate2 = "1.0.35"
cf_api = { path = "../cf-api" }

[dev-dependencies]
mockall = "0.13.1"
