[package]
name = "linkup-local-server"
version = "0.1.0"
edition = "2021"

[lib]
name = "linkup_local_server"
path = "src/lib.rs"

[dependencies]
axum = { version="0.7.5", features=["http2", "json"] }
http = "1.1.0"
hyper = "1.3.1"
hyper-rustls = "0.27.1"
hyper-util = { version="0.1.3", features=["client-legacy"] }
futures = "0.3.30"
linkup = { path = "../linkup" }
rustls = "0.23.5"
rustls-native-certs = "0.7.0"
thiserror = "1"
tokio = { version="1", features=["macros", "signal"] }
tower-http = {version="0.5.2", features=["trace"]}
tower = "0.4.13"

