[package]
name = "linkup-server-tests"
version = "0.1.0"
edition = "2021"



# [dependencies]
# axum = { version="0.7.5", features=["http2", "json"] }
# http = "1.1.0"
# hyper = "1.3.1"
# hyper-rustls = "0.27.1"
# hyper-util = { version="0.1.3", features=["client-legacy"] }
# futures = "0.3.30"
# linkup = { path = "../linkup", features = ["reqwest"] }
# rustls = "0.23.5"
# rustls-native-certs = "0.7.0"
# thiserror = "1"
# tokio = { version="1", features=["macros", "signal"] }
# tower-http = {version="0.5.2", features=["trace"]}


[dev-dependencies]
linkup = { path = "../linkup", features = ["reqwest"] }
linkup-local-server = { path = "../local-server" }
http = "1.1"
anyhow = "1"
futures = "0.3"
axum = { version="*", features=["ws"] }
serde_json = "1.0"
tokio-tungstenite = "0.21.0"
tokio = { version = "1", features = ["test-util", "macros"] }
reqwest = { version = "0.12", features = ["blocking"] }
rstest = "0.20.0"
