[package]
name = "linkup-worker"
version = "0.1.0"
edition = "2021"

[lib]
crate-type = ["cdylib", "rlib"]

[features]
default = ["console_error_panic_hook"]

[dependencies]
linkup = { path = "../linkup" }
cfg-if = "0.1.2"
worker = "0.0.13"
futures = "0.3"

# The `console_error_panic_hook` crate provides better debugging of panics by
# logging them with `console.error`. This is great for development, but requires
# all the `std::fmt` and `std::panicking` infrastructure, so isn't great for
# code size when deploying.
console_error_panic_hook = { version = "0.1.1", optional = true }

# [profile.release]
# Tell `rustc` to optimize for small code size.
# opt-level = "s"
