name = "linkup-worker"
main = "build/worker/shim.mjs"
compatibility_date = "2024-05-30"

kv_namespaces = [
  { binding = "LINKUP_SESSIONS", id = "xxx_sessions" },
  { binding = "LINKUP_TUNNELS", id = "xxx_tunnels" },
]

[vars]
CLOUDFLARE_ACCOUNT_ID = ""
CLOUDFLARE_TUNNEL_ZONE_ID = ""
CLOUDLFLARE_ALL_ZONE_IDS = ""
CLOUDFLARE_API_TOKEN = ""
WORKER_TOKEN = "token123"

[triggers]
crons = [ "0 12 * * 2-6" ]

[build]
# TODO(augustoccesar)[2026-02-25]: From 0.7.0, the worker-build version is aligned
#   with the version of the worker crate. When bumping the worker, it needs to also
#   bump the worker-build.
command = "cargo install -q worker-build@0.1.4 && worker-build --release"
