[package]
name = "linkup"
version = "0.1.0"
edition = "2021"

[dependencies]
async-trait = "0.1.68"
getrandom = { version = "0.2.8", features = ["js"] }
hex = "0.4"
rand = "0.8"
regex = "1.7.1"
serde = "1.0.156"
serde_json = "1.0.96"
thiserror = "1.0.39"
unicase = "2.7"
url = { version = "2.3.1", features = ["serde"] }

# features dependencies
reqwest = { version = "0.11.14", default-features = false, optional = true }
actix-http = {version = "*", optional = true}
actix-web = {version = "*", optional = true}
worker = { version = "0.0.18", optional = true}

[dev-dependencies]
tokio = { version = "1.28.0", features = ["test-util", "macros"] }

[features]
reqwest = ["dep:reqwest"]
actix = ["dep:actix-http", "dep:actix-web"]
worker = ["dep:worker"]