on:
  pull_request:

name: CI

jobs:
  check:
    name: Check and Clippy
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
    env:
      RUSTFLAGS: -D warnings
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      # Create empty worker build artifacts
      - run: mkdir -p worker/build/worker
      - run: touch worker/build/worker/shim.mjs
      - run: touch worker/build/worker/index.wasm
      - run: cargo check --all
      - run: rustup component add clippy
      - run: cargo clippy

  fmt:
    name: Rustfmt
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - run: rustup component add rustfmt
      - run: cargo fmt --all --check

  test:
    name: Test Suite (${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable

      - name: Start Wrangler Worker
        working-directory: worker
        run: |
          cp wrangler.toml.sample wrangler.toml
          npm install -g wrangler@latest
          nohup npx wrangler@latest dev > wrangler.log 2>&1 &
          tail -f wrangler.log | while read LOGLINE
          do
            echo "${LOGLINE}"
            [[ "${LOGLINE}" == *"Ready on http://localhost:8787"* ]] && pkill -P $$ tail
          done

      - run: cd $GITHUB_WORKSPACE && cargo test --all-features

  worker-build:
    name: Worker build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      # TODO(augustoccesar)[2026-02-25]: From 0.7.0, the worker-build version is aligned
      #   with the version of the worker crate. When bumping the worker, it needs to also
      #   bump the worker-build.
      - run: cargo install -q worker-build@0.1.4
      - run: worker-build --release
        working-directory: worker
